@model IEnumerable<HW5.Models.User>

@{
    ViewBag.Title = "Requests";
}

<h2>Requests</h2>

<table class="table">
    <tr>
        <th>V#</th>
        <th>Fisrt Name</th>
        <th>Last Name</th>
        <th>DOB</th>
        <th>Catalog Year</th>
        <th>Date</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Major</th>
        <th>Minor</th>
        <th>Advisor</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(model => item.ID)</td>
            <td>@Html.DisplayFor(model => item.FirstName)</td>
            <td>@Html.DisplayFor(model => item.LastName)</td>
            <td>@Html.DisplayFor(model => item.DOB)</td>
            <td>@Html.DisplayFor(model => item.C_Year)</td>
            <td>@Html.DisplayFor(model => item.Date)</td>
            <td>@Html.DisplayFor(model => item.Phone)</td>
            <td>@Html.DisplayFor(model => item.Email)</td>
            <td>@Html.DisplayFor(model => item.Major)</td>
            <td>@Html.DisplayFor(model => item.Minor)</td>
            <td>@Html.DisplayFor(model => item.Advisor)</td>
        </tr>
    }

</table>
